#cloud-config

chpasswd:
  expire: false
  list:
  - ubuntu:${sudo_password}

ssh_pwauth: false
ssh_import_id:
- gh:blackjid

packages:
  - qemu-guest-agent
  - nfs-common
  - linux-generic
package_update: true
package_upgrade: true

disk_setup:
  /dev/sda:
    table_type: gpt
    layout: true
    overwrite: False
fs_setup:
  - label: ssd
    filesystem: 'ext4'
    device: '/dev/sda'
mounts:
 - [ /dev/sda1, /var/lib/longhorn ]

growpart:
  mode: auto
  devices: ['/']
  ignore_growroot_disabled: false
